
<div class="filter-box" [ngClass]="{'collapsed' : menuCollapsed}">
  <div class="filter-title">
    <div class="filter-text">
      <i class="ico-filter"></i>
      Filtrar {{filterConfig[0].className}}
    </div>
    <button class="delete" (click)="toggleFilter($event)"></button>
  </div>
  <div class="filter-body">
    <div class="filter-body-item" *ngFor="let filterItem of filterConfig">
      <label>{{filterItem.boxName}}</label> <br>
      <div *ngFor="let filterField of filterItem.boxFields">
        <input  class="styled-checkbox" type="checkbox" name="name" value="{{filterField.name}}"><span>{{filterField.name}}</span><br>
      </div>
    </div>
    <div class="filter-body-item" *ngIf="filterConfig[0].className == 'Usuários'">
      <md-slide-toggle>
        <label class="toggle-viavarejo">USUÁRIO VIA VAREJO</label>
      </md-slide-toggle>
    </div>
  </div>
  <div class="filter-footer">
    <button type="button" name="button" class="button-save">Aplicar filtros</button>
    <button type="button" name="button" class="button-cancel">Limpar</button>
  </div>
</div>

<div class="action-bar">
  <div class="filter">
    <input [(ngModel)]="filterQuery" placeholder="Pesquisar usuário, CPF, empresa, etc..." class="input-field"/>
    <span class="lupa"></span>
    <button class="button-filter" (click)="toggleFilter($event)">
      <i class="ico-filter"></i>
      Filtrar
    </button>
  </div>
  <app-adicionar-novo [name]="nameButton" [routerLink]="[link]"></app-adicionar-novo>
</div>
<table class="table is-striped is-narrow is-fullwidth" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
       [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
       <thead>
         <tr>
           <th *ngFor="let item of tableColumns; let i = index">
               <mfDefaultSorter by="{{item.fieldName}}">
                 {{item.label}}
               </mfDefaultSorter>
           </th>
           <th>
           </th>
           <th>
           </th>
         </tr>
       </thead>
       <tbody>
         <tr *ngFor="let item of mf.data; let i = index" [attr.data-index]="i" id="box_{{i}}">
           <td *ngFor="let col of tableColumns; let j = index" [attr.data-index]="j" class="item_{{i}} desactive-row">
             <span class="label-viavarejo">{{col.label}}: </span>
             <div class="elipses" *ngIf="col.fieldName == 'situacao'">
               <div *ngIf="item.situacao == 'Ativo'" class="elipse-active"></div>
               <div *ngIf="item.situacao == 'Inativo'" class="elipse-inactive"></div>
               <div *ngIf="item.situacao == 'Bloqueado'" class="elipse-block"></div>
             </div>
               {{item[col.fieldName]}}
             <span *ngIf="j == 0" class="icon table-icon" (click)="openRow(i)">
               <i class="fa fa-arrow-down"></i>
             </span>
             <span *ngIf="j == 0 && showActions == i" class="icon table-icon" [routerLink]="[linkDetalhes]">
               <i class="details-icon" aria-hidden="true"></i>
             </span>
             <span *ngIf="j == 0 && showActions == i" class="icon table-icon" [routerLink]="[linkEditar]">
               <i class="edit-icon" aria-hidden="true"></i>
             </span>
           </td>
           <td class="tables-buttons">
             <div class="toolip-container">
               <span class="toolip-actions">Editar</span>
               <i class="edit-icon" aria-hidden="true" [routerLink]="[linkEditar]"></i>
             </div>
           </td>
           <td class="tables-buttons">
             <div class="toolip-container-dt">
               <span class="toolip-actions-dt">Detalhes</span>
               <i class="details-icon" aria-hidden="true" [routerLink]="[linkDetalhes]"></i>
             </div>
           </td>
         </tr>
       </tbody>
       <tfoot>
         <tr>
           <td colspan="7">
               <mfBootstrapPaginator></mfBootstrapPaginator>
           </td>
           <td colspan="3">
               <div class="lines-per-page">
                   <label><b>{{results}} resultados</b></label> <br>
                   <label class="label-control">Exibir linhas por página: </label>
                   <select class="form-control input-sm" [(ngModel)]="rowsOnPage">
                       <option [ngValue]="5">5</option>
                       <option [ngValue]="10">10</option>
                       <option [ngValue]="15">15</option>
                   </select>
               </div>
           </td>
         </tr>
       </tfoot>
</table>
