@import '../colors'

.elipse-active
  width: 10px
  height: 10px
  border-radius: 5px
  background: #00a532
  position: relative
  float: left
  margin-right: 5px
  top: 5px

.elipse-inactive
  width: 10px
  height: 10px
  border-radius: 5px
  background: #cf0000
  position: relative
  float: left
  margin-right: 5px
  top: 5px

.elipse-block
  width: 10px
  height: 10px
  border-radius: 5px
  background: #faa91a
  position: relative
  float: left
  margin-right: 5px
  top: 5px

.ico-filter
      font-size: 13px;

.filter-component
    overflow: hidden;
    margin-bottom: 10px;
.input-field
    width: calc(100% - 97px)
    height: 30px;
    border-radius: 2px;
    background-color: #fff;
    border: solid 1px #e0e0e0;
    border-top: solid 2px #e0e0e0;
    padding: 0 10px;

.button-filter
    width: 87px;
    height: 30px;
    border-radius: 2px;
    margin: 0 0 0 -5px;
    background-color: #fff;
    border: solid 1px #00a532;
    font-size: 15px;
    color: #00a532;
    cursor: pointer;
    padding: 7px;

    &:hover
        color: #fff;
        background-color: #00a532;

.action-bar
  flex-direction: column-reverse
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: center;
  margin-bottom: 10px;
  width: 100%;

.add-new
    width: 148px;
    height: 40px;
    border-radius: 2px;
    border: 0;
    background-color: #00a532;
    float: right;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    margin: 5px 0 0;

    &:hover
        background-color: #027d28;

.lines-per-page
  width: 156px
  height: 22px
  font-size: 11px
  text-align: center
  color: #171717
  margin: 12px auto
  position: relative
  top: -15px



.table
  color: #363636 !important
  margin-bottom: 1.5rem !important

.table.is-striped tbody tr
  height: 40px

.table.is-striped tbody tr:not(.is-selected):nth-child(even)
    background-color: #f2f2f2

.table.is-striped tbody tr:hover
    background-color: #edfeff

.table.is-narrow td, .table.is-narrow th
    padding: 5px 0 5px 5px

.table td, .table th
    vertical-align: middle
thead
    border: solid 1px #e0e0e0
    border-bottom: solid #017580

tbody
    border: solid 1px #e0e0e0
    border-radius: 2px

tfoot
    border: none !important;

select.form-control.input-sm
    width: 46px
    height: 17.3px
    border-radius: 2px
    background-color: #ffffff
    border: solid 1px #e0e0e0
    font-size: 11px

tfoot tr td:hover
    background: #fff
    background-color: #fff

.table tfoot td, .table tfoot th
    border-width: 0
    color: #fff

i
  cursor: pointer

.collapsed
  right: 0 !important

.filter
    display: flex
    width: 100%;

.filter-box
  transition: right .3s
  width: 223px
  position: fixed
  height: calc(100% - 127px)
  min-height: 640px
  overflow: hidden
  top: 70px
  right: -223px
  background-color: #ffffff
  box-shadow: -2.1px 2.1px 8px 0 rgba(0, 0, 0, 0.15)
  display: flex
  flex-direction: column
  justify-content: space-between
  z-index: 10



.filter-title
  font-size: 18px
  color: #00a532
  border-bottom: solid 1px #00a532
  padding: 10px
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  padding-top: 15px

.filter-body
  flex-grow: 1
  display: flex
  flex-direction: column
  label
    font-size: 14px
    font-weight: bold
    color: #171717
  span
    font-family: Calibri
    font-size: 14px
    text-align: left
    color: #171717
    vertical-align: text-bottom
    margin-left: 5px

.filter-body-item
  padding: 15px
  border-bottom: solid 1px #e0e0e0

.filter-body-item:last-of-type
  flex-grow: 1

.button-outline:hover
  background-color: #ececec 

.toggle-viavarejo
  font-size: 14px !important
  font-weight: bold !important
  color: #00a532 !important

.grey
  color: #a9a9a9

.filter-footer
  padding: 15px

.button-save
  width: 192.5px
  height: 40px
  border-radius: 2px
  background-color: #00a532
  color: #fff
  border: none
  cursor: pointer
  margin-bottom: 10px


.button-cancel
  width: 192.5px
  height: 40px
  border-radius: 2px
  border: none
  background-color: #fff
  color: #808080
  cursor: pointer

.button-save:hover
  background-color: #007322

.button-cancel:hover
  background-color: #808080
  color: #171717


input
  background-color: $white
  border: solid 1px $white-two
  border-radius: 2px
  border-top: solid 2px $greyish
  font-family: $font-family

  &:focus
    border-color: #02afbf

  &::placeholder
    color: $greyish

  &.input-error
    border-color: red

  &.sucesso
    border-top: 2px solid $kelly-green

app-adicionar-novo
    width: 100% !important

@media (min-width: 992px)
  app-adicionar-novo
      width: 148px !important

  .filter
      width: 395px
  .action-bar
    flex-direction: row

  .lines-per-page
    margin: auto
    float: right
    position: relative
    right: -9px
    text-align: left
    color: #171717
    top: 0
