<div class="selecao-item">

  <div class="columns is-mobile">
    <div class="column">
      <md-slide-toggle (change)="onChange($event)" [checked]="item.status == 1 ? true : false">
        <span *ngIf="!item.editar">{{item.nome}}</span>
      </md-slide-toggle>
      <input *ngIf="item.editar" type="text" required [(ngModel)]="novoNome" (keyup.enter)="saveItem()" />
    </div>

    <div class="column is-3 has-text-right">
      <span class="actions">
        <span *ngIf="!item.editar; else actionsSave">
          <a (click)="addItemClick()" *ngIf="config.add === false ? false : true">
            <span class="icon">
              <i class="fa fa-plus-circle"></i>
            </span>
          </a>
          <a (click)="editItem()" *ngIf="false">
            <span class="icon">
              <i class="fa fa-pencil"></i>
            </span>
          </a>
        </span>
        <ng-template #actionsSave>
          <a (click)="saveItem()">
            <span class="icon">
              <i class="fa fa-check"></i>
            </span>
          </a>
          <a (click)="cancelItem()">
            <span class="icon">
              <i class="fa fa-times"></i>
            </span>
          </a>
        </ng-template>
      </span>
      <span *ngIf="subnivel > 0">
       
        <a class="button is-small is-white" (click)="accordionClick()">
          <span class="icon is-small">
            <i class="fa " [ngClass]="accordionStatus ? 'fa-chevron-up' : 'fa-chevron-down' "></i>
          </span>
      </a>
      </span>

    </div>
  </div>

</div>
