<nav md-tab-nav-bar>
  <a md-tab-link [routerLink]="'permissoes'" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">Permissões de acesso</a>
  <!-- <a md-tab-link [routerLink]="'perfis'" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">Perfis de acesso</a>
  <a md-tab-link [routerLink]="funcionalidades" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">Funcionalidades</a>
  <a md-tab-link [routerLink]="atributos" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">Atributos das Funcionalidades</a> -->
</nav>
<router-outlet></router-outlet>