<div class="boas-vindas">
  Alterar senha {{title}}
</div>

<div class="card-login-form box has-text-left">
  <form id="formAlterarSenha" (ngSubmit)="alterarSenha(f)" #f="ngForm">
    <div class="form">

      <div class="field">
        <label class="label">LOGIN</label>
        <div class="control">
          <input
            class="input"
            type="text"
            [(ngModel)]="alterarSenhaForm.login"
            name="login"
            placeholder="Digite o login"
            required
            #alterarSenhaLogin="ngModel"
            [ngClass]="{
              'input-error': !alterarSenhaLogin.valid && alterarSenhaLogin.touched || formInvalid,
              'sucesso': alterarSenhaLogin.valid && alterarSenhaLogin.touched
            }" />

           <div class="error-message" *ngIf="!alterarSenhaLogin.valid && alterarSenhaLogin.touched || formInvalid">
             O campo <b>LOGIN</b> é obrigatório
          </div>
        </div>
      </div>

      <div class="field relative" *ngIf="tipo === 'primeiroacesso'">
        <label class="label">SENHA PROVISÓRIA</label>
        <div class="control">
          <input
            class="input"
            type="password"
            [(ngModel)]="alterarSenhaForm.senhaProvisoria"
            name="senhaProvisoria"
            placeholder="Digite a senha provisória"
            required
            #senhaProvisoria="ngModel"
            #provisoria
            [ngClass]="{
              'input-error': !senhaProvisoria.valid && senhaProvisoria.touched || formInvalid,
              'sucesso': senhaProvisoria.valid && senhaProvisoria.touched
            }" />

           <div class="error-message" *ngIf="!senhaProvisoria.valid && senhaProvisoria.touched || formInvalid">
             O campo <b>SENHA PROVISÓRIA</b> é obrigatório
          </div>

          <span class="toggle-pass" (click)="togglePass(provisoria, eye1)" #eye1></span>
        </div>
      </div>

      <div class="field relative" *ngIf="tipo !== 'primeiroacesso'">
        <label class="label">SENHA ATUAL</label>
        <div class="control">
          <input
            class="input"
            type="password"
            [(ngModel)]="alterarSenhaForm.senhaAtual"
            name="senhaAtual"
            placeholder="Digite a senha atual"
            required
            #senhaAtual="ngModel"
            #atual
            [ngClass]="{
              'input-error': !senhaAtual.valid && senhaAtual.touched || formInvalid,
              'sucesso': senhaAtual.valid && senhaAtual.touched
            }" />

           <div class="error-message" *ngIf="!senhaAtual.valid && senhaAtual.touched || formInvalid">
             O campo <b>SENHA ATUAL</b> é obrigatório
          </div>

          <span class="toggle-pass" (click)="togglePass(atual, eye2)" #eye2></span>
        </div>
      </div>

      <div class="field relative">
        <label class="label">NOVA SENHA</label>
        <div class="control">
          <input
            class="input"
            type="password"
            [(ngModel)]="alterarSenhaForm.novaSenha"
            name="novaSenha"
            placeholder="Digite a nova senha"
            required
            #novaSenha="ngModel"
            #_novaSenha
            [ngClass]="{
              'input-error': !novaSenha.valid && novaSenha.touched || formInvalid,
              'sucesso': novaSenha.valid && novaSenha.touched
            }" />

           <div class="error-message" *ngIf="!novaSenha.valid && novaSenha.touched || formInvalid">
             O campo <b>NOVA SENHA</b> é obrigatório
          </div>

          <span class="toggle-pass" (click)="togglePass(_novaSenha, eye3)" #eye3></span>
        </div>
      </div>

      <div class="field relative">
        <label class="label">CONFIRME A SENHA</label>
        <div class="control">
          <input
            class="input"
            type="password"
            [(ngModel)]="alterarSenhaForm.confirmeSenha"
            name="confirmeSenha"
            placeholder="Confirme a senha"
            required
            #confirmeSenha="ngModel"
            #_confirmar
            [ngClass]="{
              'input-error': !confirmeSenha.valid && confirmeSenha.touched || formInvalid,
              'sucesso': confirmeSenha.valid && confirmeSenha.touched
            }" />

           <div class="error-message" *ngIf="!confirmeSenha.valid && confirmeSenha.touched || formInvalid">
             O campo <b>CONFIRME A SENHA</b> é obrigatório
          </div>

          <span class="toggle-pass" (click)="togglePass(_confirmar, eye4)" #eye4></span>
        </div>
      </div>

      <div class="field" *ngIf="tipo === 'primeiroacesso'">
        <label class="label">PERGUNTA DE SEGURANÇA</label>
        <div class="control">
          <select
            class="input"
            [(ngModel)]="alterarSenhaForm.pergunta"
            name="pergunta"
            required
            #perguntaSeguranca="ngModel"
            [ngClass]="{
              'input-error': !perguntaSeguranca.valid && perguntaSeguranca.touched || formInvalid,
              'sucesso': perguntaSeguranca.valid && perguntaSeguranca.touched
            }">
            <option>Selecione...</option>
            <option>Pergunta 1</option>
          </select>
        </div>

        <div class="error-message" *ngIf="!perguntaSeguranca.valid && perguntaSeguranca.touched || formInvalid">
          O campo <b>PERGUNTA DE SEGURANÇA</b> é obrigatório
        </div>
      </div>

      <div class="field" *ngIf="tipo === 'alterarsenhaesqueceu'">
        <label class="label">PERGUNTA DE SEGURANÇA</label>
        <div class="control"> {{alterarSenhaForm.pergunta}}</div>
      </div>

      <div class="field" *ngIf="tipo === 'primeiroacesso' || tipo === 'alterarsenhaesqueceu'">
        <label class="label">RESPOSTA DA PERGUNTA</label>
        <div class="control">
          <input
            class="input"
            type="text"
            [(ngModel)]="alterarSenhaForm.resposta"
            name="resposta"
            placeholder="Digite a resposta"
            required
            #respostaPergunta="ngModel"
            [ngClass]="{
              'input-error': !respostaPergunta.valid && respostaPergunta.touched || formInvalid,
              'sucesso': respostaPergunta.valid && respostaPergunta.touched
            }" />

            <div class="error-message" *ngIf="!respostaPergunta.valid && respostaPergunta.touched || formInvalid">
              O campo <b>RESPOSTA DA PERGUNTA</b> é obrigatório
            </div>
        </div>
      </div>


      <div class="block btn-wrapper">
        <a class="button is-link btn-voltar" routerLink="/login">Voltar</a>
        <button class="button is-success btn-entrar" type="submit">
          CONFIRMAR <i class="icon"></i>
        </button>
      </div>
    </div>
  </form>

</div>
