<div class="fields-box">
  <h2>Detalhes do usuário</h2>
  <br>
  <h3>Dados da conta</h3>
  <hr>
  <div class="fields-row">
    <div class="field-column">
      <label class="label lg">NOME</label>
      <span>José da Silva</span>
    </div>
    <div class="field-column">
      <label class="label lg">PERFIL</label>
      <span>Administrador TI</span>
    </div>
    <div class="field-column">
      <label class="label lg">USUÁRIO VIA VAREJO</label>
      <span>Não</span>
    </div>
  </div>
  <div class="fields-box end-line"></div>
  <div class="fields-row">
    <div class="field-column">
      <label class="label lg">DATA DO CADASTRO</label>
      <span>01/05/17</span>
    </div>
    <div class="field-column">
      <label class="label lg">ÚLTIMO ACESSO</label>
      <span>13/07/17</span>
    </div>
  </div>
  <div class="fields-row">
    <div class="field-column">
      <label class="label lg">SITUAÇÃO</label>
      <span>Bloqueado</span>
    </div>
    <div class="field-column">
      <label class="label lg">MOTIVO DO BLOQUEIO</label>
      <span>Encerramento do contrato</span>
    </div>
    <div class="field-column">
      <label class="label lg">DATA DO BLOQUEIO</label>
      <span>13/07/17</span>
    </div>
  </div>
</div>
<div class="fields-box">
  <h3>Dados da empresa</h3>
  <hr>
  <div class="fields-row">
    <div class="field-column">
      <label class="label lg">EMPRESA</label>
      <span>CNova</span>
    </div>
    <div class="field-column">
      <label class="label lg">FILIAL</label>
      <span>CD Jundiaí</span>
    </div>
    <div class="field-column">
      <label class="label lg">CARGO</label>
      <span>Analista</span>
    </div>
  </div>
  <div class="fields-row">
    <div class="field-column">
      <label class="label lg">CNPJ</label>
      <span>01.264.567/0007-12</span>
    </div>
    <div class="field-column">
      <label class="label lg">GRUPO</label>
      <span>Grupo ABCD</span>
    </div>
  </div>
</div>
<div class="fields-row fields-box">
  <div class="fields-box col-50">
    <h3>Documentos</h3>
    <hr>
    <div class="fields-row">
      <div class="field-column">
        <label class="label md">CPF</label>
        <span>123.456.789-10</span>
      </div>
      <div class="field-column">
        <label class="label md">DATA DE NASCIMENTO</label>
        <span>30/09/1999</span>>
      </div>
    </div>
    <div class="fields-row">
      <div class="field-column">
        <label class="label md">RG</label>
        <span>12.654.123-12</span>
      </div>
      <div class="field-column">
        <label class="label md">ÓRGÃO EXPEDITOR</label>
        <span>SSP SC</span>
      </div>
    </div>
  </div>
  <div class="fields-box col-50">
    <h3>Dados de contato</h3>
    <hr>
    <div class="fields-row">
      <div class="field-column">
        <label class="label md">E-MAIL</label>
        <span>jose.felipe@cnova.com</span>
      </div>
      <div class="field-column">
        <label class="label md">CELULAR</label>
        <span>(47)99999-9999</span>
      </div>
    </div>
    <div class="fields-row">
      <div class="field-column">
        <label class="label md">TELEFONE FIXO</label>
        <span>(47)1234-5678</span>
      </div>
      <div class="field-column">
        <label class="label md">RAMAL</label>
        <span>2612</span>
      </div>
    </div>
  </div>
</div>
<div class="fields-box end-line"></div>
<div class="fields-box">
  <div class="fields-row actions">
    <div class="field-column">
      <button type="button" name="button" class="button-outline">Excluir usuário</button>
    </div>
    <div class="field-column">
      <button type="button" name="button" class="button-save" [routerLink]="['/usuarios/editar']">Editar dados</button>
    </div>
  </div>
</div>
