<div class="modal" [ngClass]="{'is-active' : showModal}">
  <div class="modal-background" (click)="closeModal()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title"></p>
      <button class="delete" (click)="closeModal()"></button>
    </header>
    <section class="modal-card-body">
      Você tem certeza que deseja excluir este usuário?
    </section>
    <footer class="modal-card-foot">
      <a class="button modal-btn-cancel" (click)="closeModal()">Cancelar</a>
      <a class="button modal-btn-confirm" (click)="deletarUsuario()">Excluir</a>
    </footer>
  </div>
</div>
<div class="fields-box">
  <h2>Detalhes do usuário</h2>
  <br>
  <h3>Dados da conta</h3>
  <hr>
  <div class="fields-row">
    <div class="field-column">
      <label class="label lg">NOME</label>
      <span>{{usuario.nome}}</span>
    </div>
    <div class="field-column">
      <label class="label lg">PERFIL</label>
      <span>{{usuario.perfil.nome}}</span>
    </div>
    <div class="field-column">
      <label class="label lg">USUÁRIO VIA VAREJO</label>
      <span>{{usuario.viaVarejo}}</span>
    </div>
  </div>
  <div class="fields-box end-line"></div>
  <div class="fields-row">
    <div class="field-column">
      <label class="label lg">DATA DO CADASTRO</label>
      <span>{{usuario.dataInclusao}}</span>
    </div>
    <div class="field-column">
      <label class="label lg">ÚLTIMO ACESSO</label>
      <span>{{usuario.dataUltimoAcesso}}</span>
    </div>
  </div>
  <div class="fields-row">
    <div class="field-column">
      <label class="label lg">SITUAÇÃO</label>
      <span>{{usuario.situacao}}</span>
    </div>
    <div class="field-column">
      <label class="label lg">MOTIVO DO BLOQUEIO</label>
      <span>{{usuario.motivoBloqueio}}</span>
    </div>
    <div class="field-column">
      <label class="label lg">DATA DO BLOQUEIO</label>
      <span>{{usuario.dataBloqueio}}</span>
    </div>
  </div>
</div>
<div class="fields-box">
  <h3>Dados da empresa</h3>
  <hr>
  <div class="fields-row">
    <div class="field-column">
      <label class="label lg">EMPRESA</label>
      <span>{{fakeEmpresa.nome}}</span>
    </div>
    <div class="field-column">
      <label class="label lg">FILIAL</label>
      <span>{{fakeEmpresa.idUnidade}}</span>
    </div>
    <div class="field-column">
      <label class="label lg">CARGO</label>
      <span>Analista</span>
    </div>
  </div>
  <div class="fields-row">
    <div class="field-column">
      <label class="label lg">CNPJ</label>
      <span>{{fakeEmpresa.cnpj}}</span>
    </div>
    <div class="field-column">
      <label class="label lg">GRUPO</label>
      <span>Grupo ABCD</span>
    </div>
  </div>
</div>
<div class="fields-row fields-box last-inputs">
  <div class="fields-box col-50">
    <h3>Documentos</h3>
    <hr>
    <div class="fields-row">
      <div class="field-column">
        <label class="label md">CPF</label>
        <span>{{usuario.cpfCnjp}}</span>
      </div>
      <div class="field-column">
        <label class="label md">DATA DE NASCIMENTO</label>
        <span>{{usuario.dataNascimento}}</span>
      </div>
    </div>
    <div class="fields-row">
      <div class="field-column">
        <label class="label md">RG</label>
        <span>{{usuario.rg}}</span>
      </div>
      <div class="field-column">
        <label class="label md">ÓRGÃO EXPEDITOR</label>
        <span>{{usuario.orgaoExpedidor}}</span>
      </div>
    </div>
  </div>
  <div class="fields-box col-50">
    <h3>Dados de contato</h3>
    <hr>
    <div class="fields-row">
      <div class="field-column">
        <label class="label md">E-MAIL</label>
        <span>{{usuario.email}}</span>
      </div>
      <div class="field-column">
        <label class="label md">CELULAR</label>
        <span>{{usuario.telefones[1].telefone}}</span>
      </div>
    </div>
    <div class="fields-row">
      <div class="field-column">
        <label class="label md">TELEFONE FIXO</label>
        <span>{{usuario.telefones[0].telefone}}</span>
      </div>
      <div class="field-column">
        <label class="label md">RAMAL</label>
        <span>{{usuario.telefones[0].ramal}}</span>
      </div>
    </div>
  </div>
</div>
<div class="fields-box end-line"></div>
<div class="fields-box">
  <div class="fields-row actions">
    <div class="field-column">
      <button type="button" name="button" class="button-outline" (click)="openModal()">Excluir usuário</button>
    </div>
    <div class="field-column">
      <button type="button" name="button" class="button-save" [routerLink]="['/usuarios/editar']">Editar dados</button>
    </div>
  </div>
</div>
