<div class="fields-box">
  <h2>Detalhes da transportadora</h2>
  <br>
  <h3>Dados da transportadora</h3>
  <hr>
  <div class="fields-row">
    <div class="field-column col-25">
      <label class="label">TIPO</label>
      <span>PF</span>
    </div>
    <div class="field-column col-25">
      <label class="label">CNPJ</label>
      <span>12.345.678/0001-90</span>
    </div>
    <div class="field-column col-25">
      <label class="label">NOME FANTASIA</label>
      <span>Transportadora São João</span>
    </div>
    <div class="field-column col-25">
      <label class="label">RAZÃO SOCIAL</label>
      <span>Transportadora São João Ltda.</span>
    </div>
  </div>
  <br>
  <div class="fields-row">
    <div class="field-column col-25">
      <label class="label">GRUPO</label>
      <span>Grupo ABCD</span>
    </div>
    <div class="field-column col-25">
      <label class="label">ÁREA RESPONSÁVEL</label>
      <span>Transportadora</span>
    </div>
  </div>
  <br>
  <div class="fields-row">
    <div class="field-column col-25">
      <label class="label">ENDEREÇO</label>
      <span>Rua da transportadora</span>
    </div>
    <div class="field-column col-25">
      <label class="label">NÚMERO</label>
      <span>80</span>
    </div>
    <div class="field-column col-25">
      <label class="label">COMPLEMETO</label>
      <span>sala 26</span>
    </div>
  </div>
  <br>
  <div class="fields-row">
    <div class="field-column col-25">
      <label class="label">BAIRRO</label>
      <span>Centro</span>
    </div>
    <div class="field-column col-25">
      <label class="label">CIDADE</label>
      <span>Florianópolis</span>
    </div>
    <div class="field-column col-25">
      <label class="label">UF</label>
      <span>SC</span>
    </div>
    <div class="field-column col-25">
      <label class="label">CEP</label>
      <span>88034-700</span>
    </div>
  </div>
  <br>
  <div class="fields-row">
    <div class="field-column col-25">
      <label class="label">SITE</label>
      <span>www.transportadorasaojoao.com.br</span>
    </div>
  </div>
</div>
<div class="fields-box">
  <h3>Dados de contato</h3>
  <hr>
  <div class="fields-row">
    <div class="field-column col-25">
      <label class="label">E-MAIL</label>
      <span>jose.felipe@cnova.com.br</span>
    </div>
  </div>
  <br>
  <div class="fields-row">
    <div class="field-column col-25">
      <label class="label">CELULAR</label>
      <span>(xx) 99999-1234</span>
    </div>
    <div class="field-column col-25">
      <label class="label">TELEFONE FIXO</label>
      <span>(xx) 1234-5678</span>
    </div>
    <div class="field-column col-25">
      <label class="label">RAMAL</label>
      <span>2612</span>
    </div>
    <div class="field-column col-25">
      <label class="label">CONTATO</label>
      <span>Carlos</span>
    </div>
  </div>
</div>

<div class="fields-box">
  <h3>Dados NOTFIS</h3>
  <hr>
  <div class="fields-row">
    <div class="field-column col-25">
      <label class="label">DIRETÓRIO ENTREGA NOTFIS</label>
      <span>c:\transportadoras\...</span>
    </div>
    <div class="field-column col-25">
      <label class="label">E-MAIL PARA ENVIO DA NOTFIS DE COLETA</label>
      <span>carlos@transpsaojoao.com.br</span>
    </div>
  </div>
  <div class="fields-row">
    <div class="field-column col-50">
      <label class="label">OBSERVAÇÃO</label>
      <span>lorem ipsum dolor sit amet lorem
ipsum dolor sit amet lorem ipsum
dolor sit amet lorem ipsum dolor
sit amet </span>
    </div>
  </div>
</div>

<div class="fields-box end-line"></div>
<div class="fields-box">
  <div class="fields-row actions">
    <div class="field-column">
      <button type="button" name="button" class="button-outline">Excluir transportadora</button>
    </div>
    <div class="field-column  ">
      <button type="button" name="button" class="button-save" [routerLink]="['/transportadoras/editar']">Editar dados</button>
    </div>
  </div>
</div>
