<h1 md-dialog-title>Termo de Responsabilidade para acesso ao Portal do Transportador</h1>
<div md-dialog-content>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus finibus justo tincidunt, malesuada arcu luctus, tincidunt
  elit. In risus quam, mollis eget lacinia congue, porta vel lectus. Quisque elit velit, iaculis id fermentum et, feugiat
  id ipsum. Sed nulla ante, porttitor quis pulvinar quis, laoreet varius ante. Cras venenatis hendrerit velit non ullamcorper.
  Integer nunc mi, viverra ultrices libero eget, tempus porta leo. Fusce egestas elit condimentum dui consectetur, sed imperdiet
  turpis scelerisque. Aliquam a eros sed erat egestas pharetra.
  <br /> Fusce dictum aliquam orci a pellentesque. Nullam eu odio felis. Maecenas vulputate lacus nibh, ut tincidunt ex vehicula
  non. Suspendisse ut odio arcu. Quisque neque metus, maximus id sem sit amet, feugiat gravida lectus. Mauris ornare nisl
  id eros pellentesque, ut facilisis neque mollis. Cras ultrices, elit ac faucibus vulputate, neque justo ultricies ex, a
  pharetra magna leo quis elit. Vestibulum vestibulum turpis nec eros dignissim volutpat. Quisque non mauris egestas, sodales
  turpis nec, rutrum tellus. Etiam in nisl enim.
  <br /> Aliquam fermentum egestas dui, in pulvinar ligula. Aliquam ultricies libero accumsan augue tincidunt, quis blandit
  tellus malesuada. Mauris et hendrerit diam, nec cursus purus. Phasellus tristique malesuada nisi, eu ultricies diam laoreet
  quis. Vestibulum mattis, augue in varius porttitor, leo augue hendrerit ex, eu convallis dui leo consequat nibh. Quisque
  sed convallis massa. Donec magna augue, imperdiet nec congue eget, imperdiet ut eros. Integer pellentesque id augue ut
  efficitur.

</div>
<div md-dialog-actions>
  <button md-button md-dialog-close="voltar">Voltar</button>
  <button md-button md-dialog-close="ac">Aceitar</button>
</div>
