.modal-terms {
  height: 100%;
}

.modal-terms .title {
  display: block;
  margin: 0;
  font-size: 26px;
  color: #2b6e40;
  border-bottom: 1px solid #2b6e40;
  padding: 0 0 10px;
}

.modal-terms .content {
  overflow-y: auto;
  height: calc(100% - (70px + 115px));
}

.modal-terms .content p {
  font-size: 18px;
  color: #171717;
  margin: 20px 0 0;
}

.modal-terms .content strong {
  margin: 20px 0 0;
  display: block;
}

.modal-terms .modal-footer {
  background-color: #fff;
  box-shadow: 0px -5px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 30px 80px;
  height: 115px;
  text-align: right;
}

.modal-terms .modal-footer button {
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: 10px;
  font-size: 16px;
  color: #808080;
  margin: 0 0 0 20px;
  display: inline-block;
  cursor: pointer;
}

.modal-terms .modal-footer button.voltar:hover {
  text-decoration: underline;
}

.modal-terms .modal-footer button.aceitar {
  background: url("../../../assets/images/shape-1.svg") no-repeat 90% center #a9a9a9;
  padding: 10px 50px;
  color: #fff;
}

.modal-terms .modal-footer button.aceitar:hover {
  background-color: #666 !important;
}
