<div class="modal-terms">
  <h1 class="title">Termo de Responsabilidade para acesso ao Portal do Transportador</h1>
  
  <div class="content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus finibus justo tincidunt, malesuada arcu luctus, tincidunt
    elit. In risus quam, mollis eget lacinia congue, porta vel lectus. Quisque elit velit, iaculis id fermentum et, feugiat
    id ipsum. Sed nulla ante, porttitor quis pulvinar quis, laoreet varius ante. Cras venenatis hendrerit velit non ullamcorper.
    Integer nunc mi, viverra ultrices libero eget, tempus porta leo. Fusce egestas elit condimentum dui consectetur, sed
    imperdiet turpis scelerisque. Aliquam a eros sed erat egestas pharetra.
    </p>

    <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit</strong>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus finibus justo tincidunt, malesuada arcu luctus, tincidunt
    elit. In risus quam, mollis eget lacinia congue, porta vel lectus. Quisque elit velit, iaculis id fermentum et, feugiat
    id ipsum. Sed nulla ante, porttitor quis pulvinar quis, laoreet varius ante. Cras venenatis hendrerit velit non ullamcorper.
    Integer nunc mi, viverra ultrices libero eget, tempus porta leo. Fusce egestas elit condimentum dui consectetur, sed
    imperdiet turpis scelerisque. Aliquam a eros sed erat egestas pharetra.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus finibus justo tincidunt, malesuada arcu luctus, tincidunt
    elit. In risus quam, mollis eget lacinia congue, porta vel lectus. Quisque elit velit, iaculis id fermentum et, feugiat
    id ipsum. Sed nulla ante, porttitor quis pulvinar quis, laoreet varius ante. Cras venenatis hendrerit velit non ullamcorper.
    Integer nunc mi, viverra ultrices libero eget, tempus porta leo. Fusce egestas elit condimentum dui consectetur, sed
    imperdiet turpis scelerisque. Aliquam a eros sed erat egestas pharetra.
    </p>
  </div>
  <!--/content -->

  <footer class="modal-footer">
    <button class="voltar" md-button="voltar" md-dialog-close="voltar">Voltar</button>
    <button class="aceitar" md-button="ac" md-dialog-close="aceito">Aceitar</button>
  </footer>
  <!--/footer -->
</div>
<!--/modal-terms-->