@import '../colors'

.hero
  background: url('../../assets/images/bg.png') no-repeat center center
  background-size: cover

section
  color: $warm-grey
  font-family: Calibri

  .logotipo
    height: 126px
    width: 231px

  .boas-vindas
    font-size: 30px
    font-weight: bold
    padding-top: 92px

  
