<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">

      <img src="./assets/images/viavarejo.svg" class="logotipo" />
      <div class="boas-vindas">Boas-vindas ao Portal do Transportador!</div>

      <div class="cards">
        <div class="card-login viavarejo hero-body">
          <img src="../assets/images/login-viavarejo.png" />
          <div>Sou Via Varejo</div>
        </div>
        <div class="card-login transportadora hero-body">
          <img src="../assets/images/login-transportadora.png" />
          <div>Sou Transportadora</div>
        </div>
      </div>
    </div>
  </div>
</section>
