@import '../colors'

section
  color: $cor-padrao
  font-family: Calibri

  .logotipo
    height: 126px
    width: 231px

  .boas-vindas
    font-size: 30px
    font-weight: bold
    padding-top: 92px

  .card-login
    background-color: $cor-branco
    border: solid 1px $cor-cinza
    border-radius: 5px
    box-shadow: 2.1px 2.1px 8px 0 rgba(0, 0, 0, .15)
    display: inline-block
    font-size: 26px
    height: 232px
    margin: 35px 15px 0
    padding: 3rem .5rem
    width: 253px

  .transportadora
    border-left: solid 3px $cor-amarelo

  .viavarejo
    border-left: solid 3px $cor-verde
