@import '../../colors'

body .box
  background-color: $white
  border: solid 1px $cor-cinza
  border-radius: 5px
  box-shadow: 2.1px 2.1px 8px 0 rgba(0, 0, 0, .15)
  display: inline-grid

.icon-login-transportadora
  height: 70px
  margin: 0 auto
  background: url('../../../assets/images/login-transportadora.svg') no-repeat center #fff
  width: 89px

.icon-login-viavarejo
  height: 66px
  margin: 0 auto
  background: url('../../../assets/images/login-viavarejo.svg') no-repeat center #fff
  width: 147px

.card-login-title
  margin-top: 19px

.card-login
  cursor: pointer
  font-size: 26px
  height: 232px
  margin: 29px 13px 0 14px
  padding: 4rem .5rem
  width: 253px
  outline: none!important
  vertical-align: top
  color: #808080
  border-width: 1px 1px 1px 3px
  border-style: solid

.transportadora
  border-color: transparent transparent transparent $cor-amarelo

  &:hover
    border-color: $cor-amarelo
    color: $cor-amarelo

    .icon-login-transportadora
      background: url('../../../assets/images/login-transportadora-hover.svg') no-repeat center #fff

.viavarejo
  border-color: transparent transparent transparent $cor-verde

  &:hover
    border-color: $cor-verde
    color: $cor-verde

    .icon-login-viavarejo
      background: url('../../../assets/images/login-viavarejo-hover.svg') no-repeat center #fff

@media (max-width: 767px)
  .boas-vindas
    font-size: 24px

  .card-login
    height: 130px
    padding: 1rem .5rem

  .icon-login-viavarejo
    height: 55px
    width: 90px
    background-size: 100%

  .icon-login-transportadora
    height: 55px
    width: 70px
    background-size: 100%