<div class="boas-vindas">
  <img src="./assets/images/login-{{tipo}}.svg" class="icon-{{tipo}}" alt="">{{title}}
</div>

<div class="card-login-form box has-text-left">
  <form id="formLogin" (ngSubmit)="postLogin(f)" #f="ngForm">
    <div class="form">
      <div class="field" *ngIf="tipo === 'viavarejo'">
        <label class="label">NÚMERO DA EMPRESA</label>
        <div class="control">
          <input
            class="input"
            type="text"
            [(ngModel)]="loginData.empresa"
            name="empresa"
            placeholder="Digite o número"
            required
            #loginEmpresa="ngModel"
            [ngClass]="{
              'input-error': !loginEmpresa.valid && loginEmpresa.touched || formInvalid
            }" />

           <div class="error-message" *ngIf="!loginEmpresa.valid && loginEmpresa.touched || formInvalid">
             O campo <b>NÚMERO DA EMPRESA</b> é obrigatório
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">LOGIN</label>
        <div class="control">
          <input
            class="input"
            type="text"
            [(ngModel)]="loginData.login"
            name="login"
            placeholder="Digite o login"
            required
            #login="ngModel"
            [ngClass]="{
              'input-error': !login.valid && login.touched || formInvalid
            }" />

           <div class="error-message" *ngIf="!login.valid && login.touched || formInvalid">
             O campo <b>LOGIN</b> é obrigatório
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">SENHA</label>
        <div class="control">
          <input
            class="input"
            type="password"
            [(ngModel)]="loginData.senha"
            name="senha"
            placeholder="Digite a senha"
            required
            #senha="ngModel"
            [ngClass]="{
              'input-error': !senha.valid && senha.touched || formInvalid
            }" />

           <div class="error-message" *ngIf="!senha.valid && senha.touched || formInvalid">
             O campo <b>SENHA</b> é obrigatório
          </div>
        </div>
      </div>

      <div>
        <re-captcha (captchaResponse)="handleCorrectCaptcha($event)" site_key="6LeKkCkUAAAAACPGupMVekGFf8Axr9tFDRIR9vBV"></re-captcha>
      </div>

      <div class="block">
        <a class="button is-link btn-voltar" routerLink="/login">Voltar</a>
        <button class="button is-success btn-entrar" type="submit">
          <span>ENTRAR</span>
          <span class="icon is-small">
            <i class="fa fa-times"></i>
          </span>
        </button>
      </div>
    </div>
  </form>

</div>

<div class="info-gestor" [ngSwitch]="tipo">
  <div *ngSwitchCase="'viavarejo'">Esqueceu algum dado?<br />Fale com seu gestor.</div>
  <div *ngSwitchCase="'transportadora'"><a> Recuperar Senha </a></div>
</div>
