<div class="modal" [ngClass]="{'is-active' : showModal}">
  <div class="modal-background" (click)="closeModal()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title"></p>
      <button class="delete" (click)="closeModal()"></button>
    </header>
    <section class="modal-card-body">
      Você tem certeza que deseja excluir este usuário?
    </section>
    <footer class="modal-card-foot">
      <a class="button modal-btn-cancel" (click)="closeModal()">Cancelar</a>
      <a class="button modal-btn-confirm" (click)="delete()">Excluir</a>
    </footer>
  </div>
</div>

<form id="formEdit" (ngSubmit)="atualizarUsuario(f, usuario)" #f="ngForm">
  <div class="fields-box">
    <h2>Novo usuário</h2>
    <br>
    <h3>Dados da conta</h3>
    <hr>
    <div class="fields-row">
      <div class="field-column">
        <label class="label lg">NOME</label>
        <input
        [(ngModel)]="usuario.nome"
        class="input"
        type="text"
        name="name"
        placeholder="Digite o nome"
        required
        #nome="ngModel"
        [ngClass]="{
          'input-error': !nome.valid && nome.touched || formInvalid,
          'sucesso': nome.valid && nome.touched
        }"
        />
        <div class="error-message" *ngIf="!nome.valid && nome.touched || formInvalid">
          O campo <b>NOME</b> é obrigatório
       </div>
      </div>
      <div class="field-column">
        <label class="label">PERFIL</label>
        <select class="select md" [(ngModel)]="usuario.idPerfil" name="idPerfil">
          <option *ngFor="let perfil of perfis" value="perfil.id">
            {{perfil.nome}}
          </option>
        </select>
      </div>
      <div class="field-column">
        <br>
        <md-slide-toggle>
          <label class="label">USUÁRIO VIA VAREJO</label>
        </md-slide-toggle>
      </div>
    </div>
    <div class="fields-row password">
      <div class="field-column">
        <div class="field relative">
          <label class="label">SENHA</label>
          <div class="control">
            <input
            class="input sm"
            type="password"
            name="senha"
            placeholder="Nova senha"
            value="{{passwordGenerated}}"
            #_input
            />
          </div>
          <span class="toggle-pass" (click)="togglePass(_input, eye)" #eye></span>
        </div>
      </div>
      <div class="field-column button-side">
        <button type="button" name="button" class="button-outline sm" (click)="generatePassword()">Gerar nova senha</button>
      </div>
    </div>
  </div>
  <div class="fields-box">
    <h3>Dados da empresa</h3>
    <hr>
    <div class="fields-row">
      <div class="field-column">
        <label class="label">EMPRESA</label>
        <select class="select lg" [(ngModel)]="usuario.idEmpresa"  name="idEmpresa">
          <option *ngFor="let empresa of empresas" value="empresa.id">
            {{empresa.nome}}
          </option>
        </select>
      </div>
      <div class="field-column">
        <label class="label">FILIAL</label>
        <select class="select lg" [(ngModel)]="usuario.idFilial" name="idFilial">
          <option *ngFor="let filial of filiais" value="filial.id">
            {{empresa.nome}}
          </option>
        </select>
      </div>
      <div class="field-column">
        <label class="label">CARGO</label>
        <select class="select lg" [(ngModel)]="usuario.idCargo" name="idCargo">
          <option *ngFor="let cargo of cargos" value="cargo.id">
            {{cargo.descricao}}
          </option>
        </select>
      </div>
    </div>
    <div class="fields-row">
      <div class="field-column">
          <label class="label lg">CNPJ</label>
          <input
          [(ngModel)]="empresaUsuario.cnpj"
          class="input"
          type="text"
          name="cnpj"
          placeholder="Digite o nome"
          required
          />
      </div>
      <div class="field-column">
        <label class="label lg">GRUPO</label>
        <input
        [(ngModel)]="usuario.grupo"
        class="input"
        type="text"
        name="grupo"
        placeholder="Digite o grupo"
        required
        />
      </div>
    </div>
  </div>
  <div class="fields-row fields-box last-inputs">
    <div class="fields-box col-50">
      <h3>Documentos</h3>
      <hr>
      <div class="fields-row">
        <div class="field-column">
          <label class="label sm">CPF</label>
          <input
          [(ngModel)]="usuario.cpfCnjp"
          [textMask]="{mask: cpfMask}"
          class="input sm"
          type="text"
          name="cpfCnjp"
          placeholder="Digite o cpf"
          required
          #cpfCnjp="ngModel"
          [ngClass]="{
            'input-error': !cpfCnjp.valid && cpfCnjp.touched || formInvalid,
            'sucesso': cpfCnjp.valid && cpfCnjp.touched
          }"
          />
          <div class="error-message" *ngIf="!cpfCnjp.valid && cpfCnjp.touched || formInvalid">
            O campo <b>CPF</b> é obrigatório
         </div>
        </div>
        <div class="field-column">
          <label class="label">DATA DE NASCIMENTO</label>
          <input
          class="input sm"
          [textMask]="{mask: dataMask}"
          type="text"
          name="dataNascimento"
          placeholder="dd/mm/aaaa"
          required
          />
        </div>
      </div>
      <div class="fields-row">
        <div class="field-column">
          <label class="label sm">RG</label>
          <input
          [(ngModel)]="usuario.rg"
          class="input sm"
          type="text"
          name="rg"
          required
          />
        </div>
        <div class="field-column">
          <label class="label sm">ÓRGÃO EXPEDITOR</label>
          <input
          [(ngModel)]="usuario.orgaoExpedidor"
          class="input e-sm"
          type="text"
          name="orgaoExpedidor"
          required
          />
        </div>
      </div>
    </div>
    <div class="fields-box col-50">
      <h3>Dados de contato</h3>
      <hr>
      <div class="fields-row">
        <div class="field-column">
          <label class="label sm">E-MAIL</label>
          <input
          [(ngModel)]="usuario.email"
          class="input lg"
          type="email"
          name="email"
          placeholder=""
          required
          />
        </div>
        <div class="field-column">
          <label class="label">CELULAR</label>
          <input
          [(ngModel)]="telefones[0].telefone"
          [textMask]="{mask: celMask}"
          class="input md"
          type="text"
          name="numero"
          placeholder=""
          required
          />
        </div>
      </div>
      <div class="fields-row">
        <div class="field-column">
          <label class="label sm">TELEFONE FIXO</label>
          <input
          [(ngModel)]="telefones[1].telefone"
          [textMask]="{mask: fixoMask}"
          class="input md"
          type="text"
          name="numero"
          required
          />
        </div>
        <div class="field-column">
          <label class="label sm">RAMAL</label>
          <input
          [(ngModel)]="telefones[1].ramal"
          [textMask]="{mask: numberMask}"
          class="input e-sm"
          type="text"
          name="ramal"
          required
          />
        </div>
      </div>
    </div>
  </div>
  <div class="fields-box end-line"></div>
  <div class="fields-box">
    <div class="fields-row actions">
      <div class="field-column">
        <button type="button" name="button" class="button-outline" (click)="openModal()">Excluir usuário</button>
      </div>
      <div class="field-column">
        <button type="button" name="button" class="button-cancel" [routerLink]="['/usuarios']">Cancelar</button>
        <button type="submit" name="button" class="button-save">Salvar</button>
      </div>
    </div>
  </div>
</form>
