<div class="modal" [ngClass]="{'is-active' : showModal}">
  <div class="modal-background" (click)="closeModal()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title"></p>
      <button class="delete" (click)="closeModal()"></button>
    </header>
    <section class="modal-card-body">
      Você tem certeza que deseja excluir esta unidade?
    </section>
    <footer class="modal-card-foot">
      <a class="button modal-btn-cancel" (click)="closeModal()">Cancelar</a>
      <a class="button modal-btn-confirm" (click)="delete()">Excluir</a>
    </footer>
  </div>
</div>
<div class="fields-box">
  <h2>Editar dados da unidade</h2>
  <br>
  <h3>Dados da unidade</h3>
  <hr>
  <div class="fields-row">
    <div class="field-column">
      <label class="label">EMPRESA</label>
      <select class="select lg">
        <option value="teste1">Teste 1</option>
        <option value="teste2">Teste 2</option>
        <option value="teste3">Teste 3</option>
      </select>
    </div>
    <div class="field-column">
      <label class="label">FILIAL</label>
      <select class="select lg">
        <option value="teste1">Teste 1</option>
        <option value="teste2">Teste 2</option>
        <option value="teste3">Teste 3</option>
      </select>
    </div>
  </div>
  <div class="fields-row">
    <div class="field-column">
      <label class="label">RAZÃO SOCIAL</label>
      <input
      class="input lg"
      type="text"
      name="name"
      required
      />
    </div>
    <div class="field-column">
      <label class="label">NOME FANTASIA</label>
      <input
      class="input lg"
      type="text"
      name="name"
      required
      />
    </div>
    <div class="field-column">
      <label class="label">CNPJ</label>
      <input
      class="input sm "
      type="text"
      name="name"
      placeholder="Digite o nome"
      required
      />
    </div>
  </div>
  <div class="fields-row">
    <div class="field-column">
      <label class="label">ENDEREÇO</label>
      <input
      class="input e-lg"
      type="text"
      name="name"
      required
      />
    </div>
    <div class="field-column">
      <label class="label">NÚMERO</label>
      <input
      class="input e-sm"
      type="text"
      name="name"
      required
      />
    </div>
    <div class="field-column">
      <label class="label">COMPLEMETO</label>
      <input
      class="input sm"
      type="text"
      name="name"
      required
      />
    </div>
  </div>
  <div class="fields-row">
    <div class="field-column">
      <label class="label">BAIRRO</label>
      <input
      class="input md"
      type="text"
      name="name"
      required
      />
    </div>
    <div class="field-column">
      <label class="label">CIDADE</label>
      <input
      class="input md"
      type="text"
      name="name"
      required
      />
    </div>
    <div class="field-column">
      <label class="label">UF</label>
      <input
      class="input e-sm"
      type="text"
      name="name"
      required
      />
    </div>
    <div class="field-column">
      <label class="label">CEP</label>
      <input
      class="input sm"
      type="text"
      name="name"
      required
      />
    </div>
  </div>
  <div class="fields-row">
    <div class="field-column">
      <label class="label">OBSERVAÇÃO</label>
      <input
      class="input lg"
      type="text"
      name="name"
      required
      />
    </div>
  </div>
</div>
<div class="fields-box">
  <h3>Dados de contato</h3>
  <hr>
  <div class="fields-row">
    <div class="field-column">
      <label class="label">E-MAIL</label>
      <input
      class="input lg"
      type="text"
      name="name"
      required
      />
    </div>
  </div>
  <div class="fields-row">
    <div class="field-column">
      <label class="label">CELULAR</label>
      <input
      class="input md"
      type="text"
      name="name"
      required
      />
    </div>
    <div class="field-column">
      <label class="label">TELEFONE FIXO</label>
      <input
      class="input md"
      type="text"
      name="name"
      required
      />
    </div>
    <div class="field-column">
      <label class="label">RAMAL</label>
      <input
      class="input e-sm"
      type="text"
      name="name"
      required
      />
    </div>
    <div class="field-column">
      <label class="label">CONTATO</label>
      <input
      class="input sm"
      type="text"
      name="name"
      required
      />
    </div>
  </div>
</div>

<div class="fields-box end-line"></div>
<div class="fields-box">
  <div class="fields-row actions">
    <div class="field-column">
      <button type="button" name="button" class="button-outline" (click)="openModal()">Excluir unidade</button>
    </div>
    <div class="field-column actions">
      <button type="button" name="button" class="button-cancel" [routerLink]="['/unidades']">Cancelar</button>
      <button type="button" name="button" class="button-save" (click)="save()">Salvar</button>
    </div>
  </div>
</div>
