<div class="content-application">
  <div class="side-menu">
    menus de opções aqui
  </div>
  <!--/side-menu-->

  <div class="list-content">
    <h2 class="title-page">Usuários</h2>

    <div class="filter-button-add full-hidden">
      <div class="left">
        <app-filtro></app-filtro>
      </div>

      <div class="right">
        <app-adicionar-novo [name]="nameButton"></app-adicionar-novo>
      </div>
    </div>

    <div class="grid-component">
      <app-grid></app-grid>
    </div>
  </div>
  <!--/list-content-->
</div>
<!--/content-application-->