<form id="formNew" (ngSubmit)="salvarUnidade(f, unidade)" #f="ngForm">
  <div class="fields-box">
    <h2>Nova unidade</h2>
    <br>
    <h3>Dados da unidade</h3>
    <hr>
    <div class="fields-row">
      <div class="field-column">
        <label class="label">EMPRESA</label>
        <select class="select lg" [(ngModel)]="unidade.idEmpresa"  name="idEmpresa">
          <option *ngFor="let empresa of empresas" value="empresa.id">
            {{empresa.nome}}
          </option>
        </select>
      </div>
      <div class="field-column">
        <label class="label">FILIAL</label>
        <select class="select lg" [(ngModel)]="unidade.idFilial"  name="idEmpresa">
          <option *ngFor="let empresa of empresas" value="empresa.id">
            {{empresa.nome}}
          </option>
        </select>
      </div>
    </div>
    <div class="fields-row">
      <div class="field-column">
        <label class="label">RAZÃO SOCIAL</label>
        <input
        [(ngModel)]="unidade.descricao"
        class="input lg"
        type="text"
        name="name"
        required
        />
      </div>
      <div class="field-column">
        <label class="label">NOME FANTASIA</label>
        <input
        [(ngModel)]="unidade.nome"
        class="input lg"
        type="text"
        name="name"
        required
        />
      </div>
      <div class="field-column">
        <label class="label">CNPJ</label>
        <input
        [(ngModel)]="unidade.cnpj"
        class="input sm "
        type="text"
        name="name"
        placeholder="Digite o nome"
        required
        />
      </div>
    </div>
    <div class="fields-row">
      <div class="field-column">
        <label class="label">ENDEREÇO</label>
        <input
        [(ngModel)]="unidade.endereco.endereco"
        class="input e-lg"
        type="text"
        name="name"
        required
        />
      </div>
      <div class="field-column">
        <label class="label">NÚMERO</label>
        <input
        [(ngModel)]="unidade.endereco.numero"
        class="input e-sm"
        type="text"
        name="name"
        required
        />
      </div>
      <div class="field-column">
        <label class="label">COMPLEMETO</label>
        <input
        [(ngModel)]="unidade.endereco.complemento"
        class="input sm"
        type="text"
        name="name"
        required
        />
      </div>
    </div>
    <div class="fields-row">
      <div class="field-column">
        <label class="label">BAIRRO</label>
        <input
        [(ngModel)]="unidade.endereco.bairro"
        class="input md"
        type="text"
        name="name"
        required
        />
      </div>
      <div class="field-column">
        <label class="label">CIDADE</label>
        <input
        [(ngModel)]="unidade.endereco.municipio"
        class="input md"
        type="text"
        name="name"
        required
        />
      </div>
      <div class="field-column">
        <label class="label">UF</label>
        <input
        [(ngModel)]="unidade.endereco.uf"
        class="input e-sm"
        type="text"
        name="name"
        required
        />
      </div>
      <div class="field-column">
        <label class="label">CEP</label>
        <input
        [(ngModel)]="unidade.endereco.cep"
        class="input sm"
        type="text"
        name="name"
        required
        />
      </div>
    </div>
    <div class="fields-row">
      <div class="field-column">
        <label class="label">OBSERVAÇÃO</label>
        <input
        [(ngModel)]="unidade.observacao"
        class="input lg"
        type="text"
        name="name"
        required
        />
      </div>
    </div>
  </div>
  <div class="fields-box">
    <h3>Dados de contato</h3>
    <hr>
    <div class="fields-row">
      <div class="field-column">
        <label class="label">E-MAIL</label>
        <input
        [(ngModel)]="unidade.email"
        class="input lg"
        type="text"
        name="name"
        required
        />
      </div>
    </div>
    <div class="fields-row">
      <div class="field-column">
        <label class="label">CELULAR</label>
        <input
        [(ngModel)]="unidade.telefone"
        class="input md"
        type="text"
        name="name"
        required
        />
      </div>
      <div class="field-column">
        <label class="label">TELEFONE FIXO</label>
        <input
        [(ngModel)]="unidade.telefone"
        class="input md"
        type="text"
        name="name"
        required
        />
      </div>
      <div class="field-column">
        <label class="label">RAMAL</label>
        <input
        [(ngModel)]="unidade.telefone"
        class="input e-sm"
        type="text"
        name="name"
        required
        />
      </div>
      <div class="field-column">
        <label class="label">CONTATO</label>
        <input
        [(ngModel)]="unidade.contato"
        class="input sm"
        type="text"
        name="name"
        required
        />
      </div>
    </div>
  </div>

  <div class="fields-box end-line"></div>
  <div class="fields-box">
    <div class="fields-row actions">
      <button type="button" name="button" class="button-cancel" [routerLink]="['/unidades']">Cancelar</button>
      <button type="submit" name="button" class="button-save">Cadastrar</button>
    </div>
  </div>
</form>
