@import 'variables'
@import './app/colors'
@import '../node_modules/font-awesome/scss/font-awesome'
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css'

@font-face
		font-family: Calibri
		src: url('./assets/fonts/Calibri.eot')
		src: url('./assets/fonts/Calibri.eot?#iefix') format('embedded-opentype')
    src: url('./assets/fonts/Calibri.woff2') format('woff2')
    src: url('./assets/fonts/Calibri.woff') format('woff')
		src: url('./assets/fonts/Calibri.ttf') format('truetype')

//xlg
//@media (min-width: 1800px) {}

//lg
@media (min-width: 1200px)
  .card-login-form
    max-width: 35%
    margin: 0 auto

//ltbigger
//@media (max-width: 1280px) {}

//md
//@media (min-width: 992px)  and (max-width: 1199px)  {}

//sm
//@media (min-width: 768px) and (max-width: 991px)  {}

//smxs
//@media (max-width: 991px)  {}

//xs
@media (max-width: 767px)
  body
    .hero-body
      padding: 1rem 0.5rem

  .card-login
    width: 48%!important
    margin: 35px 0!important
    float: left
    font-size: 16px!important
    line-height: 15px
    &:last-child
      margin-left: 2%!important

  .icon-login-viavarejo,
  .icon-login-transportadora
    width: 100%!important
    margin: 0 auto 1.5rem!important

  .hero
    nav
      display: table
      width: 96%
      margin: 0 auto
      a
        display: table-cell
        text-align: center

  .hero.is-fullheight
    min-height: 80vh!important

  .card-login-form
    width: 100%
    margin-top: 18px!important
    margin-left: 0!important
    margin-right: 0!important
    form
      width: 100%
    .form
      padding: 0!important
      .btn-entrar
        max-width: 60%

  .hero.is-fullheight .hero-body > .container
    width: 100%

  .logotipo
    width: 45%!important
    height: auto!important

  .g-recaptcha div div
    transform: scale(0.93)
    -webkit-transform: scale(0.93)
    transform-origin: 0 0
    -webkit-transform-origin: 0 0


//mobile-small
//@media (min-width: 480px) and (max-width: 767px)  {}

//small
//@media (max-width: 480px)  {}

//xlg
//@media (min-height: 1024px)

//lg
//@media (max-height: 964px)   {}

//md
@media (max-height: 802px)
  .hero
    nav
      display: table
      width: 96%
      margin: 0 auto

      a
        display: table-cell
        text-align: center

//mdsm
//@media (max-height: 860px)  {}

//sm
//@media (max-height: 770px)  {}

//xs
//@media (max-height: 602px)  {}

//small
//@media (max-height: 600px)  {}

//tiny
//@media (max-height: 480px)  {}


// Precisamos ver se vai manter, só estou colocando para ficar verde igual o Zeplin
.mat-slide-toggle.mat-checked:not(.mat-disabled)
  .mat-slide-toggle-bar
    background-color: $kelly-green

  .mat-slide-toggle-thumb
    background-color: $white

.mat-slide-toggle .mat-ripple-element
  background-color: rgba(0, 165, 50, .1)

.mat-ink-bar
  display: none

.mat-slide-toggle-content
  font-family: Calibri
  color: $black

.boas-vindas
  font-size: 30px
  font-weight: bold
  text-align: center
  color: $warm-grey
