@import 'variables'
@import './app/colors'
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css'

@font-face
  font-family: Calibri
  src: url('./assets/fonts/Calibri.eot'), url('./assets/fonts/Calibri.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/Calibri.woff2') format('woff2'), url('./assets/fonts/Calibri.woff') format('woff'), url('./assets/fonts/Calibri.ttf') format('truetype')

@font-face
  font-family: ico
  src: url('./assets/fonts/icones.eot'), url('./assets/fonts/icones.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/icones.ttf') format('truetype'), url('./assets/fonts/icones.woff') format('woff'), url('./assets/fonts/icones.svg') format('svg')

@font-face
  font-family: ico-menu
  src:  url('./assets/fonts/ico-menu.eot?p7umhl'), url('./assets/fonts/ico-menu.eot?p7umhl#iefix') format('embedded-opentype'), url('./assets/fonts/ico-menu.ttf?p7umhl') format('truetype'), url('./assets/fonts/ico-menu.woff?p7umhl') format('woff'), url('./assets/fonts/ico-menu.svg?p7umhl#ico-menu') format('svg')

[class^='ico-'],
[class*=' ico-']
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  font-family: ico
  font-style: normal
  font-variant: normal
  font-weight: normal
  line-height: 1
  speak: none
  text-transform: none

[class^='ico-menu'],
[class*=' ico-menu']
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  font-family: ico-menu
  font-style: normal
  font-variant: normal
  font-weight: normal
  line-height: 1
  speak: none
  text-transform: none

.ico-menu-building
  &::before
    content: "\e900"

.ico-menu-lock-open
  &::before
    content: "\e901"

.ico-menu-truck
  &::before
    content: "\e902"

.ico-menu-users
  &::before
    content: "\e903"

.ico-arrow-right
  &::before
    content: '\e900'

.ico-checked
  &::before
    content: '\e901'

.ico-chevron-up
  &::before
    content: '\e902'
    display: inline-block
    transform: rotate(90deg)

.ico-chevron-down
  &::before
    content: '\e902'
    display: inline-block
    transform: rotate(-90deg)

.ico-chevron-left
  &::before
    content: '\e902'

.ico-chevron-left-circle
  &::before
    content: '\e903'

.ico-chevron-right
  &::before
    content: '\e904'

.ico-filter
  &::before
    content: '\e905'

.ico-folder
  &::before
    content: '\e906'

.ico-plus-circle
  &::before
    content: '\e907'

.ico-trash
  &::before
    content: '\e908'

body
  font-family: Calibri

  .button
    border-radius: 2px
    font-family: $font-family

.g-recaptcha
  div
    div
      height: auto !important
      width: 100% !important

.mat-dialog-container
    padding: 50px !important
    position: relative

.relative
  position: relative

.lupa
  width: 14px
  height: 20px
  position: relative
  right: 25px
  top: 5px
  z-index: 10
  cursor: pointer
  background: url('assets/img/forma-1-copiar.png') no-repeat center
  background-size: 100%

.toggle-pass
  width: 20px
  height: 20px
  position: absolute
  right: 10px
  top: 8px
  z-index: 10
  cursor: pointer
  background: url('assets/images/forma-1-copiar.svg') no-repeat center

  &.show
    background: url('assets/images/forma-1-copiar-4.svg') no-repeat center


.container-tabs
  margin: 0 0 100px !important

//xlg
//@media (min-width: 1800px) }

//lg
@media (min-width: 1200px)
  .card-login-form
    margin: 0 auto
    max-width: 35%

  .g-recaptcha div div
    -webkit-transform: scale(1.04)
    -webkit-transform-origin: 0 0
    transform: scale(1.04)
    transform-origin: 0 0

//ltbigger
//@media (max-width: 1280px) }

//md
// @media (min-width: 992px) and (max-width: 1199px)

//sm
@media (min-width: 768px) and (max-width: 991px)
  body
    .hero
      background-size: initial !important

//smxs
// @media (max-width: 991px)

//xs
@media (max-width: 767px)
  body
    .hero-body
      padding: 1rem 0.5rem

  .card-login
    width: 48%!important
    margin: 35px 0!important
    float: left
    font-size: 16px!important
    line-height: 15px
    &:last-child
      margin-left: 2%!important

  .login-viavarejo,
  .login-transportadora
    width: 100%!important
    margin: 0 auto 1.5rem!important

  .hero
    nav
      display: table
      width: 96%
      margin: 0 auto
      a
        display: table-cell
        text-align: center

  .hero.is-fullheight
    min-height: 80vh!important

  .card-login-form
    width: 100%
    margin-top: 18px!important
    margin-left: 0!important
    margin-right: 0!important
    form
      width: 100%
    .form
      padding: 0!important
      .btn-entrar
        max-width: 60%
        float: right
        .icon
          display: none


  .hero.is-fullheight .hero-body > .container
    width: 100%

  .logotipo
    width: 45%!important
    height: auto!important
    margin-bottom: 60px!important

  .g-recaptcha div div
    transform: scale(0.88)
    -webkit-transform: scale(0.88)
    transform-origin: 0 0
    -webkit-transform-origin: 0 0
    width: 0 !important

  .btn-wrapper
    margin-top: 5px!important

  .cdk-overlay-pane
    width: 100% !important

    .mat-dialog-container
      padding: 20px !important
      max-width: 100% !important

  .boas-vindas
    font-size: 20px
    line-height: 1.1

  .container-tabs
    width: 100% !important

    .mat-tab-nav-bar
      width: 100%
      overflow-x: auto
      white-space: nowrap
      position: absolute
      left: 0
      top: 180px
      border-bottom: 1px solid #e0e0e0 !important
      padding: 0 15px

      a
        border: 0 !important
        border-bottom: 2px solid transparent !important
        border-radius: 0 !important
        font-size: 14px !important
        line-height: initial !important
        height: auto !important
        padding: 15px 10px !important
        font-weight: bold !important
        text-transform: uppercase !important
        color: #808080 !important

    .mat-tab-nav-bar[_ngcontent-c2] a[ng-reflect-active='true'][_ngcontent-c2]
      background: transparent !important
      border-color: #02afbf !important
      color: #02afbf !important


  .container-router
    margin: 50px 0 !important
    width: 100% !important

  .columns.is-mobile > .column.is-3
    width: 30% !important

  footer
    position: static !important

    .text-footer
      width: 100% !important
      padding: 0 10px


//mobile-small
//@media (min-width: 480px) and (max-width: 767px)  }

//small
//@media (max-width: 480px)  }

//xlg
//@media (min-height: 1024px)

//lg
//@media (max-height: 964px)   }

//md
@media (max-height: 802px)
  .hero
    nav
      display: table
      width: 96%
      margin: 0 auto

      a
        display: table-cell
        text-align: center

//mdsm
//@media (max-height: 860px)  }

//sm
//@media (max-height: 770px)  }

//xs
//@media (max-height: 602px)  }

//small
//@media (max-height: 600px)  }

//tiny
//@media (max-height: 480px)  }


// Precisamos ver se vai manter, só estou colocando para ficar verde igual o Zeplin
.mat-slide-toggle.mat-checked:not(.mat-disabled)
  .mat-slide-toggle-bar
    background-color: $kelly-green

  .mat-slide-toggle-thumb
    background-color: $white

.mat-slide-toggle .mat-ripple-element
  background-color: rgba(0, 165, 50, .1)

.mat-ink-bar
  display: none

.mat-slide-toggle-content
  font-family: $font-family
  color: $black

.boas-vindas
  font-size: 24px
  font-weight: bold
  text-align: center
  color: $warm-grey

.card-login-form
  .btn-wrapper
    margin-top: 30px

body
  .hero-body
    padding: 1rem 1.5rem

html
  overflow-y: inherit !important

.card-login.box
  display: inline-grid
