@import './../colors'

.container-home
  font-family: Calibri
  margin: 1.5rem

  .container-router
    padding-top: 1rem

  .page-name
    color: $black
    font-size: 28px

  .page-breadcrumb
    color: $warm-grey
    font-size: 12px
