<nav class="navbar has-shadow" [ngClass]="{'collapsed' : menuCollapsed}">
  <div class="navbar-burger burger" (click)="toggleMenu($event)">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <!--div class="navbar-close-menu">
    <span>X</span>
  </div-->
  <div class="navbar-brand">
    <a class="navbar-item" id="logo-poc" [routerLink]="['/']" >
      <img src="../../assets/images/logo-vertical.png" width="160" height="35" />
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" (click)="logout()">Sair</a>
    </div>
  </div>
</nav>

<div class="container-home" [ngClass]="{'collapsed' : menuCollapsed}">
  <div class="page-name">
    <div>{{pageName}}</div>
    <hr />
  </div>
  <!-- <div class="page-breadcrumb">Painel administrativo > Gestão de acessos</div> -->

  <nav class="main-menu">
    <ul class="nav-content">
      <li class="nav-item nav-header">
        <span class="name">
          João Silva
        </span>
        <span class="name-small">
          Administrador GA
        </span>
        <i class="ico-chevron-left-circle" (click)="toggleMenu($event)"></i>
      </li>
      <li class="nav-item" [routerLinkActive]="'active'" [routerLink]="['/gestaoacessos']">
        <i class="ico-menu-lock-open ico-menu"></i>
        <span class="nav-txt" >
          Gestão&nbsp;de&nbsp;Acessos
        </span>
      </li>
      <li class="nav-item"  [routerLinkActive]="'active'" [routerLink]="['/usuarios']">
        <i class="ico-menu-users ico-menu"></i>
        <span class="nav-txt">
          Usuários
        </span>
      </li>
      <li class="nav-item" [routerLinkActive]="'active'" [routerLink]="['/transportadoras']">
        <i class="ico-menu-truck ico-menu"></i>
        <span class="nav-txt">
          Transportadoras
        </span>
      </li>
      <li class="nav-item" [routerLinkActive]="'active'" [routerLink]="['/unidades']">
        <i class="ico-menu-building ico-menu"></i>
        <span class="nav-txt">
          Unidades
        </span>
      </li>
    </ul>
  </nav>

  <div class="container-router">
    <router-outlet></router-outlet>
  </div>
</div>

<footer>
  <p class="text-footer">
    Via Varejo S.A - Rua João Pessoa, 83 - Centro - São Caetano do Sul - SP
    Copyright 2017 - Todos os direitos reservados.
  </p>
</footer>
