<nav class="navbar has-shadow">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="../../assets/images/viavarejo.svg" height="50" />
    </a>
    <div class="navbar-burger burger" (click)="logout()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" (click)="logout()">Sair</a>
    </div>
  </div>
</nav>

<div class="container-home">
  <div class="page-name">Gestão de acessos</div>
  <div class="page-breadcrumb">Painel administrativo > Gestão de acessos</div>

  <div class="container-router">
    <router-outlet></router-outlet>
  </div>
</div>
