@import './../colors'

.container-home
  font-family: $font-family
  margin: 1.5rem

  .container-router
    padding-top: 1rem

  .page-name
    color: $black
    font-size: 28px

    hr
      width: 102px
      height: 2px
      background-color: #faa91a
      margin-top: .8rem

  .page-breadcrumb
    color: $warm-grey
    font-size: 12px

.container-home 
  padding-left: 250px


#logo-poc 
  padding: 0.5rem 32px 0.5rem 31px


.navbar 
  min-height: 70px!important


.main-menu 
  position: fixed
  width: 223px
  height: 100%
  left: 0
  top: 70px
  background-color: #2b3536
  box-shadow: 2.1px 2.1px 8px 0 rgba(0, 0, 0, 0.15)
  display: table

  .nav-item
    width: 100%
    max-height: 50px
    float: left
    cursor: pointer
    justify-content: left
    border-left: 2px solid #1f2626
    position: relative

    &:hover,
    &.active
      background-color: #1f2626
      border-left: 2px solid #efc031
    
    &.nav-header
      height: 60px
      max-height: inherit
      position: relative
      background-color: #475859
      border-left: none!important
    
      &:hover
        background-color: #475859

      .name
        font-size: 14px
        font-weight: bold
        font-family: Calibri
        color: #fff
        position: absolute
        left: 13px
        top: 14px

      .name-small
        font-family: Calibri
        font-size: 11px
        text-align: left
        color: #fff
        position: absolute
        left: 13px
        top: 30px

      i
        color: #fff
        position: absolute
        right: 13px
        top: 20px
        font-size: 19px

    .ico-menu
      font-size: 23px
      color: #ccc
      padding-right: 12px
      min-width: 48px

    .nav-txt
      font-family: Calibri
      font-size: 16px
      line-height: 3.13
      text-align: left
      color: #fff

footer
  width: 100%
  height: 57px
  clear: both
  position: fixed
  left: 0
  bottom: 0
  z-index: 2
  text-align: center
  background-color: #14191a

  .text-footer
    width: 339px
    height: 26px
    padding-top: 12px
    margin: 0 auto
    font-family: Calibri
    font-size: 12px
    line-height: 1.25
    text-align: center
    color: #fff